html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

a, a:visited{
    text-decoration: none;
    color: unset;
}

nav {
    display: flex;
    width: 100vw;
    max-width: 1050px;
    margin: 0 auto;
}

nav > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 35px;
}

.landing-container {
    height: 385px;
    display: flex;
}

.become-smarter {
    height: 100%;
    background-color: rgb(28, 127, 242);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 40px;
}

.email-input-wrapper {
    height: 3rem;
    display: flex;
    max-width: 600px;
}

.become-smarter h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
}

.become-smarter > div {
    max-width: 700px;
}

.become-smarter input {
    border: none;
    height: 100%;
    line-height: 100%;
    font-size: 16px;
    border-radius: 0.125rem;
    flex: 1;
}

.become-smarter button {
    height: 100%;
    border: none;
    background-color: rgb(17, 74, 140);
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 0.25rem;
    padding: 0 16px;
}

.side {
    height: 100%;
    flex: 0;
    flex-basis: 470px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.side-headline {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.side-description {
    font-size: 14px;
    margin: 0;
}

.bold {
    font-weight: 600 !important;
}

.latest-banner {
    background-color: #E2E8F0;
    text-align: center;
    margin: 0;
}

#stories {
    max-width: 1370px;
    width: 95%;
    margin: 0 auto;
}

.main-stories {
    display: flex;
    flex-direction: row;
    height: 587px;
    gap: 40px;
}

.main-left, .main-right{
    height: 100%;
    flex: 1;
}

.main-left h1 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    margin: 0;
}

.main-left h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.main-left img {
    width: 100%;
    aspect-ratio: 1.5;
}

.main-right {
    display: flex;
    flex-direction: column;
}

.main-right > * {
    flex: 1;
}

.main-right > div {
    display: flex;
}

.text { 
    flex: 1;
}

.img-container {
    height: 100%;
    flex-basis: 200px;
}

.main-right img {
    width: 100%;
    aspect-ratio: 1.5;
}

.headline {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    margin: 5px 0;
}

.subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.author {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

.latest-stories {
    margin-top: 5rem;
}

.latest-stories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card img {
    width: 100%;
    aspect-ratio: 1.5;
}

.tag {
    color: rgb(28, 127, 242);
    font-size: 13.6px;
    line-height: 20.4px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0;
}

@media screen and (max-width: 1600px){
    #stories {
        max-width: 1120px;
    }
}